@model IEnumerable<TrackingDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<p class="text-danger">@TempData["Error"]</p>


<div class="container">
    <div class="row">
        <div class="pt-3 mb-3 col-8">
            <form class="form-inline" asp-action="Search">
                <label>Enter VIN number</label>
                <input class="form-control ml-3" type="text" name="vin" placeholder="Search">
                <button class="btn btn-primary ml-3" type="submit">Search</button>
            </form>
        </div>

        <div class="pt-3 mb-3 col-4">
            <form class="form-inline" asp-action="UpdateAll" style="float:right;">
                <button class="btn btn-primary" type="submit">Update All</button>
            </form>
        </div>
    </div>
</div>

<div class="mt-4">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Vin</th>
                <th scope="col">Description</th>
                <th scope="col">Keys</th>
                <th scope="col">Delivered to warehouse</th>
                <th scope="col">Title</th>
                <th scope="col">Container number</th>
                <th scope="col">Expected arrival date</th>
                <th scope="col">Updated at</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Vin</th>
                    <td>@item.Year @item.Model</td>
                    <td>@item.Keys</td>
                    <td>@item.DeliveredToLoadingPlace?.ToString("yyyy-MM-dd")</td>
                    <td>@item.Title</td>
                    <td>@item.ContainerNumber</td>
                    <td>@item.ExpectedArrivalDate?.ToString("yyyy-MM-dd")</td>
                    <td>@item.UpdatedAt</td>
                </tr>
            }
        </tbody>
    </table>
</div>
